/* Load extra fonts */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../external/Lexend.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../external/OpenDyslexic.woff2) format('woff2');
}

body {
  /* Visual settings - May be changed by user */
  --font: Lexend, Arial, sans-serif;
  --accent: #211;
  --roundness-1: 0.5rem;
  --roundness-2: 1rem;
  --time: 250ms;

  --text-1: #ddd;
  --text-2: #b0b0b0;
  --bg-1: color-mix(in oklab, #303030 80%, var(--accent) 20%);
  --bg-2: color-mix(in oklab, #404040 80%, var(--accent) 20%);
  --bg-3: color-mix(in oklab, #505050 80%, var(--accent) 20%);
  --mention: color-mix(in oklab, #505050 50%, var(--accent) 50%);
  --tippy: color-mix(in oklab, #383838 80%, var(--accent) 20%);
  --bg-accent: color-mix(in oklab, #303030 70%, var(--accent) 30%);
  --valid: color-mix(in oklab, #0b0 50%, var(--text-1) 50%);
  --invalid: color-mix(in oklab, #b00 50%, var(--text-1) 50%);

  display: flex;
  width: 100dvw;
  height: 100dvh;
  font-family: var(--font);
  font-size-adjust: 0.525;
  color: var(--text-1);
  margin: 0px;
  padding: 10px;
  background-color: var(--bg-1);
  overflow: hidden;
  box-sizing: border-box;
}
body.error {
  align-items: center;
  justify-content: center;
}
h1, h2, p {
  margin: 2px;
}
button, input, textarea {
  font-size: 80%;
  font-family: var(--font);
  color: var(--text-1);
  padding: 2px;
  margin: 2px;
  border: 2px var(--bg-2) solid;
  border-radius: var(--roundness-1);
  background-color: var(--bg-2);
  transition: border var(--time);
  resize: none;
}
button:focus-within, input:focus-within, textarea:focus-within, select:focus-within {
	outline-color: var(--text-1);
	outline-width: 2px;
	outline-style: solid;
	outline-offset: 1px;
}
button {
  cursor: pointer;
  padding: 2px 4px;
  transition: background var(--time);
}
button:hover {
  background-color: var(--bg-accent);
}
button:has(svg) {
  display: flex;
  align-items: center;
  padding: 0px;
}
button:disabled {
  cursor: not-allowed;
  color: var(--text-2);
}
input[type="color"] {
  padding: 0px;
  border-radius: 5px;
}
form input:valid {
  border-color: var(--valid);
}
form input:invalid, form input[invalid] {
  border-color: var(--invalid);
}
form {
  width: fit-content;
  max-width: 100%;
  overflow: auto;
}
.invalid-text, .danger {
  color: var(--invalid);
}
svg {
  fill: currentColor;
  stroke: currentColor;
}
dialog {
  padding: 10px;
  color: var(--text-1);
  border-radius: var(--roundness-1);
  background-color: var(--bg-1);
  border: 2px currentColor solid;
  z-index: 12;
}
::backdrop {
  backdrop-filter: blur(5px);
}
.modal-close {
  position: absolute;
  top: 2px;
  inset-inline-end: 2px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background: none;
  z-index: 11;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.tippy-box {
  color: var(--text-1);
  background-color: var(--tippy);
}
.tippy-arrow {
  color: var(--tippy);
}
[data-tippy-root] .tippy-content {
  display: flex;
  gap: 5px;
  flex-direction: column;
  max-height: 80dvh;
  overflow: auto;
}

#server-list {
  position: relative;
  padding-left: 8px;
  overflow: visible auto;
}
#server-list > span {
  position: relative;
  display: flex;
  align-items: center;
  --status: var(--invalid);
}
#server-list > span::before {
  content: "";
  position: absolute;
  inset-inline-start: -8px;
  top: 25%;
  display: block;
  width: 6px;
  height: 50%;
  border-radius: var(--roundness-2);
  background-color: var(--status);
}
#server-list > span[online] {
  --status: var(--valid);
}
#server-list > span[selected] > button:not(.del) {
  border-color: var(--text-2);
}
#server-list button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  border-color: var(--bg-1);
  background-color: var(--bg-2);
  outline: none;
}
#server-list button:not(.del) {
  flex: 1;
}
#server-list button span {
  display: flex;
  gap: 2px;
  align-items: center;
}

#srv-btn-languages {
  position: absolute;
  inset-inline-start: 5px;
  bottom: 5px;
}

#login-modal[open], #server-modal[open], #signup-modal[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

#recorder div {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

side {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 0px;
}
nav {
  display: flex;
  gap: 5px;
  align-items: center;
}
nav input, nav button {
  font-size: 100%;
  margin: 0px;
  padding: 5px 8px;
  border: none;
  border-radius: var(--roundness-2);
}
nav input {
  flex: 1;
  min-width: 0px;
  height: 30px;
  box-sizing: border-box;
}
nav > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0px;
  overflow: hidden;
}
nav button img {
  width: 100%;
  height: 100%;
}
#channels {
  flex: 1;
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin: 10px 0px;
  overflow-y: auto;
}
#channels > span {
  position: relative;
  display: flex;
  border-radius: var(--roundness-1);
  background-color: var(--bg-2);
  content-visibility: auto;
}
#channels button {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0px;
  padding: 5px;
  outline: none;
  font-size: 100%;
  overflow: hidden;
}
#channels button:not(.other) {
  flex: 1;
}
#channels button.other {
  width: 0;
  padding: 0;
  opacity: 0;
  transition-duration: var(--time);
  transition-property: background-color, width, opacity;
}
#channels > span:hover > button.other {
  width: 34px;
  padding: 5px;
  opacity: 1;
}
#channels img {
  width: 30px;
  height: 30px;
  border-radius: var(--roundness-2);
  object-fit: cover;
}
#channels button .div {
  width: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#channels button .div span {
  display: flex;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
}
#channels button .msg {
  font-size: 75%;
  color: var(--text-2);
}
#channels button .unread {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75%;
  width: 20px;
  height: 20px;
  border-radius: 1rem;
  background-color: var(--bg-1);
}
#channels .pin-indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  fill: var(--text-2);
  pointer-events: none;
}
#edit-channel h2 {
  display: flex;
  gap: 5px;
}
#edit-channel h2 .name {
  display: inline-block;
  max-width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 75%;
  color: var(--text-2);
}
footer > button {
  color: var(--text-2);
  margin: 0px;
  padding: 2px;
  border-radius: var(--roundness-1);
  background: none;
}
footer .tippy-content span {
  display: flex;
  gap: 5px;
  align-items: center;
}

.block, .session {
  display: flex;
  gap: 5px;
  align-items: center;
}
.block img {
  border-radius: var(--roundness-2);
}
.block > span, .session > span:nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.block span.small, .session span.small {
  color: var(--text-2);
  font-size: 80%;
}

.ban {
  display: flex;
  gap: 5px;
  align-items: center;
}
.ban img {
  border-radius: var(--roundness-2);
}
.ban > span {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ban .by {
  font-size: 75%;
  color: var(--text-2);
}

#permModal input {
  float: right;
  margin: 5px 15px 0px 10px;
}

nav button, footer button {
  border: none;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 0px;
  padding: 8px;
  border-radius: var(--roundness-2);
  background-color: var(--bg-2);
  box-sizing: border-box;
}
.top {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 0px;
}
.top button {
  height: 20px;
  margin: 0px;
  border: none;
}
.top svg {
  flex-shrink: 0;
}
.top .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 0px;
  border-radius: 0.5rem;
  overflow-y: auto;
}
.message {
  direction: var(--obp);
  position: relative;
  display: flex;
  gap: 8px;
  padding: 3px 6px;
  padding-right: 3px;
  margin: 0px;
  margin-right: 3px;
  border-radius: var(--roundness-1);
  transition: background-color var(--time);
}
.message:hover, .message:focus-within {
  background-color: var(--bg-1);
}
.message.ghost-1 {
  opacity: 0.7;
}
.message.ghost-2 {
  color: var(--invalid);
}
.message.self {
  direction: var(--sbp);
}
.message.highlight {
  background-color: var(--bg-3);
  transition: none;
}
.message.mention {
  background-color: var(--mention);
}
.emoji {
  width: 1em;
  height: 1em;
  object-fit: contain;
  vertical-align: middle;
}
.big-emoji .emoji {
  width: 2em;
  height: 2em;
}
emoji-picker {
  --background: var(--bg-1);
  --border-color: var(--bg-2);
  --input-border-color: var(--text-2);
  --input-font-color: var(--text-1);
  --input-placeholder-color: var(--text-2);
  --outline-color: var(--text-1);
  --category-font-color: var(--text-1);
  --button-active-background: var(--bg-2);
  --button-hover-background: var(--bg-2);
  --border-radius: 0.5rem;
  position: absolute;
  bottom: 50px;
  right: 16px;
  z-index: 10;
}
.message .avatar {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  width: 42px;
  min-height: 42px;
}
.message .avatar img {
  position: sticky;
  top: 0;
  width: 42px;
  height: 42px;
  border-radius: calc(var(--roundness-2) * 1.5);
  background-color: var(--bg-1);
}
.message .actions {
  position: absolute;
  top: -15px;
  inset-inline-end: 0px;
  display: flex;
  gap: 5px;
  height: 30px;
  padding: 5px;
  opacity: 0;
  border-radius: var(--roundness-1);
  background-color: var(--bg-accent);
  box-sizing: border-box;
  transition: opacity var(--time);
  z-index: 7;
}
.message:hover .actions, .message:focus-within .actions {
  opacity: 1;
}
.message .actions:focus-within {
  z-index: 8;
}
.message .actions:not(:has(button)) {
  display: none;
}
.message .actions button {
  margin: 0px;
  border: none;
  background: none;
}
.message .topper {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}
.message .author {
  font-weight: bold;
}
.message .time {
  color: var(--text-2);
  font-size: 75%;
}
.message .inner {
  width: 100%;
}
.message .content {
  display: block;
  word-break: break-word;
  white-space: break-spaces;
  box-sizing: border-box;
}
.message .content .mention {
  color: var(--mention);
  background-color: color-mix(in oklab, var(--text-1) 80%, var(--accent) 20%);
  border-radius: 0.25rem;
}
.message .edited {
  font-size: 65%;
  color: var(--text-2);
  padding-left: 5px;
}
.message .file {
  width: fit-content;
  min-width: 20dvw;
  padding: 8px;
  border-radius: var(--roundness-1);
  backdrop-filter: brightness(0.8);
}
.message .file span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.message .file button {
  display: inline-block;
  margin: 0px;
  border: none;
  background: transparent;
}
.message textarea {
  width: calc(100% - 5px);
  margin: 0px;
  border: none;
  background-color: var(--bg-accent);
}
.message:has(.reply) {
  padding-top: 21px;
}
.message .reply {
  cursor: pointer;
  position: absolute;
  top: 0px;
  inset-inline-start: 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  width: 90%;
  color: var(--text-2);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.message .reply svg {
  flex-shrink: 0;
}
#replypreview {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
  padding: 1px 4px;
  border-radius: var(--roundness-1);
  background-color: var(--bg-1);
}
#replypreview .usr {
  flex: 1;
}

.message > .time {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 42px;
  opacity: 0;
  padding-left: 0px;
  transition: opacity var(--time);
}
.message:hover > .time {
  opacity: 1;
}

#filepreview {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: var(--roundness-2);
  background-color: var(--bg-1);
  overflow: auto hidden;
}
#filepreview:not(:has(div)) {
  display: none;
}
#filepreview img, #filepreview video {
  max-width: 40dvw;
  max-height: 15dvh;
  height: fit-content;
}
#filepreview .file {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  word-break: break-word;
}
#filepreview > div {
  position: relative;
}
#filepreview button {
  position: absolute;
  top: 0px;
  inset-inline-end: 0px;
  z-index: 9;
}
.fileList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fileList > * {
  max-width: 45vw;
  max-height: 35dvh;
}

#mentionmenu {
  display: flex;
  gap: 5px;
  flex-direction: column;
  max-height: 20dvh;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 0.5rem;
  background-color: var(--bg-1);
  overflow: hidden auto;
}
#mentionmenu > div {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}
#mentionmenu img {
  width: 42px;
  height: 42px;
  border-radius: 5rem;
}
#mentionmenu > div > div {
  display: flex;
  flex-direction: column;
}
#mentionmenu .small {
  color: var(--text-2);
  font-size: 75%;
}

#pinsModal, #notifModal {
  left: calc(var(--left) - max(25dvw, 250px));
  width: 25vw;
  min-width: 250px;
  margin: 0px;
  box-sizing: border-box;
}
#pinsModal > div {
  max-height: 65vh;
  padding-top: 10px;
  overflow-y: auto;
}

.bar {
  display: flex;
  gap: 5px;
  padding: 8px;
  border-radius: var(--roundness-2);
  background-color: var(--bg-1);
}
.bar textarea, .bar button {
  margin: 0px;
  border: none;
  border-radius: 2rem;
  background: none;
}
.bar textarea {
  flex: 1;
  outline: none;
}

.bar.fake {
  cursor: not-allowed;
  color: var(--text-2);
}

.lateral {
  display: flex;
  flex-direction: column;
  width: 12dvw;
  padding-left: 10px;
  overflow-y: auto;
}
.lateral button:not(.mobile) {
  display: flex;
  gap: 5px;
  align-items: center;
  content-visibility: auto;
}
.lateral img {
  width: 30px;
  height: 30px;
  border-radius: var(--roundness-2);
  object-fit: cover;
}
.lateral span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Markdown */
blockquote {
  position: relative;
  display: inline;
  margin: 0px;
  margin-left: 8px;
}
blockquote::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: 0px;
  inset-inline-start: -8px;
  width: 4px;
  height: calc(100% + 4px);
  border-radius: 5rem;
  background-color: var(--bg-3);
}
code {
  font-family: ui-monospace, monospace;
  background-color: var(--bg-3);
}
li {
  display: inline list-item;
}
txt-loader {
  display: block;
  max-width: 50dvw;
  max-height: 25dvh;
  color: var(--text-2);
  word-break: break-word;
  white-space: break-spaces;
  overflow: auto;
}

/* Calls */
#call-display {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20dvh;
  margin: 5px 0px;
  border-radius: 1rem;
  background-color: var(--bg-1);
}
#call-display .grid {
  flex: 1;
  display: flex;
  gap: 10px;
  height: 0px;
  padding: 10px;
}
#call-display .grid img {
  flex: 1;
  border-radius: 10rem;
}
#call-display .controls {
  flex-shrink: 0;
  display: flex;
  margin: 5px;
  padding: 2px;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
}
#call-display .controls button {
  padding: 5px;
}
#call-display .expand {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* Scrollbars */
*:not(:hover) ::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: inherit, var(--bg-1);
}
::-webkit-scrollbar-corner {
  background: inherit, var(--bg-1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--bg-3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in oklab, var(--bg-2) 75%, var(--text-1) 25%);
}

/* Accesibility */
@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

/* Mobile */
.mobile { display: none; }

@media (max-width: 700px) {
  .mobile {
    display: unset;
  }
  #channels button.other {
    width: 34px;
    padding: 5px;
    opacity: 1;
  }
  .lateral {
    width: 100dvw;
    padding: 0px;
  }
}